{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Visualization</title>
</head>
<body>
	<div>
		<center>
			<select id="playerAccountId">
				{% for player in players %}
					<option value="{{player.accountId}}">{{player.summonerName}}</option>
				{% endfor %}
			</select>
			<button type="submit" name="go" onclick="loadDoc()">Visualizar Partidas</button>
		</center>
	</div>
	<canvas id="matchCanvas"  width="1200" height="600" style="position: absolute;"></canvas>
	<script type="text/javascript">
		//ssh -o ServerAliveInterval=240 -R gamevis.serveo.net:80:127.0.0.1:8000 serveo.net
		var static_url = '{{st_url}}'
		var dados = null;
		var img_list
		var used_champions
		function init_img(data){			
			used_champions = []
			for(const [idx, match] of Object.entries(data['matches'])){
				if(!used_champions.includes(match['playerStats']['championId']))
					used_champions.push(match['playerStats']['championId'])
			}
			img_list = {}
			for(var i=0;i<used_champions.length;i++){
				img_list[used_champions[i]] = new Image()
				img_list[used_champions[i]].src = static_url+'champion/'+used_champions[i]+'.png';
				img_list[used_champions[i]].title = 'championId'+used_champions[i];
				img_list[used_champions[i]].onload = function() {
					init(dados)
				}
			}
			//console.log(img_list)
		}
		function loadDoc() {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
				//console.log(this.responseText);
				dados = JSON.parse(this.responseText).data
				init_img(dados)
				init(dados)
				}
			};
			var e = document.getElementById("playerAccountId");
			var strUser = e.options[e.selectedIndex].value;
			xhttp.open("GET", "/get_player/?id="+strUser, true);
			xhttp.send();
		}
		function getY(stats, key, player){
			var statDifference = stats[key]['max']-stats[key]['min']
			var playerDifference = player[key]-stats[key]['min']
			return (1-(playerDifference/statDifference))
		}
		var display = document.getElementById("matchCanvas");
		var w = display.offsetWidth;
		var l = w/10;
		var h = display.offsetHeight;
		var a = h/10;

		var ctx = display.getContext("2d");

		var mouseX = 0;
		var mouseY = 0;
		var zoneP1 = {
			'x' : -1,
			'y' : -1,
		}
		var zoneP2 = {
			'x' : -1,
			'y' : -1,
		}
		var mouse_down = false

		var selectedZone = {}
		function drawRetangle(p1, p2){
			if(p1['x']<p2['x']){
				selectedZone['x'] = p1['x']
				selectedZone['w'] = p2['x']-p1['x']
			}
			else{
				selectedZone['x'] = p2['x']
				selectedZone['w'] = p1['x']-p2['x']
			}
			if(p1['y']<p2['y']){
				selectedZone['y'] = p1['y']
				selectedZone['h'] = p2['y']-p1['y']
			}
			else{
				selectedZone['y'] = p2['y']
				selectedZone['h'] = p1['y']-p2['y']
			}

			ctx.beginPath();
			ctx.lineWidth = 1;
			ctx.strokeStyle = "blue";
			ctx.setLineDash([3, 3]);
			//ctx.fillStyle = "#F00";
			ctx.rect(selectedZone['x'], selectedZone['y'], selectedZone['w'], selectedZone['h']); 
			ctx.stroke();
			
			ctx.fillStyle = 'black'
			ctx.setLineDash([]);

		}
		function isInRetangle(x,y){
			if(x>=selectedZone['x'] && x<=(selectedZone['x']+selectedZone['w']) && y>=selectedZone['y'] && y<=(selectedZone['y']+selectedZone['h'])){
				//console.log(x,y,selectedZone['x'],selectedZone['y'],selectedZone['x']+selectedZone['w'],selectedZone['y']+selectedZone['h'])
				return true
			}
			return false
		}
		function init(data){
			ctx.clearRect(0, 0, w, h);
			let stats = {
				'controls':{}
			}
			//console.log(data)
			for(const [idx, player] of Object.entries(data['matches'])){			
				for(const [key, stat] of Object.entries(player['playerStats']['stats'])){				
					if(key in stats['controls']){
						if(stat<stats['controls'][key]['min']){
							stats['controls'][key]['min']=stat
						}
						if(stat>stats['controls'][key]['max']){
							stats['controls'][key]['max'] = stat
						}

					}
					else{
						stats['controls'][key] = {}
						stats['controls'][key]['min'] = stat
						stats['controls'][key]['max'] = stat
					}
				}
			}
			var tam = Object.keys(stats['controls']).length+1

			/* Desenha as linhas das coordenadas paralelas */
			ctx.lineWidth = 2
			ctx.beginPath()
			ctx.strokeStyle = 'black'
			for(var i=0;i<tam+1;i++){
				//console.log((i*(w/tam))+(l-((l*i*2)/tam)),h)
				ctx.moveTo((i*(w/tam))+(l-((l*i*2)/tam)),a)
				ctx.lineTo((i*(w/tam))+(l-((l*i*2)/tam)),h-(a/2))
			}
			ctx.stroke()
			/* fim desenha as linhas das coordenadas paralelas */

			/* Desenha os titulos das linhas */
			ctx.font = '12px Arial'
			var txtArray = ['gameCreation']
			var txtTopVal = ['']
			var txtBottomVal = ['']
			for(const [key, value] of Object.entries(stats['controls'])){
				txtArray.push(key)
				txtTopVal.push(stats['controls'][key]['max'])
				txtBottomVal.push(stats['controls'][key]['min'])
			}
			txtArray.push('champion')
			txtTopVal.push('')
			txtBottomVal.push('')
			for(var i=0;i<txtArray.length;i++){
				var txtW = ctx.measureText(txtArray[i].slice(0,10)).width
				ctx.fillText(txtArray[i].slice(0,10),(i*(w/tam))+(l-((l*i*2)/tam)-(txtW/2)),(i%2 == 0)?12:32)
				txtW = ctx.measureText(txtTopVal[i]).width
				ctx.fillText(txtTopVal[i],(i*(w/tam))+(l-((l*i*2)/tam)-(txtW/2)),a-8)
				txtW = ctx.measureText(txtBottomVal[i]).width
				ctx.fillText(txtBottomVal[i],(i*(w/tam))+(l-((l*i*2)/tam)-(txtW/2)),h-8)
			}		
			/* Fim desenha os titulos das linhas */

			//console.log(used_champions)
			/* Desenha as linhas */
			ctx.lineWidth = 1
			var altura_usavel = (h-(a/2))-a
			var max_img_h=altura_usavel/used_champions.length
			if( max_img_h>48){
				max_img_h=48
			}
			for(var c=0;c<used_champions.length;c++){
				//console.log(c)
				ctx.fillText("Id="+used_champions[c], w-l+52, 6+a+( altura_usavel*(c+1)/(used_champions.length+1)))
				/*
				var img = new Image();
				img.src = static_url+'champion/'+used_champions[c]+'.png';
				img.onload = function() {
					ctx.drawImage(img, w-l+2, 6+a+( altura_usavel*(c+1)/(used_champions.length+1)), 12, 12);
					console.log(img)
				};*/
				ctx.drawImage(img_list[used_champions[c]], w-l+2, a-(max_img_h/2)+( altura_usavel*(c+1)/(used_champions.length+1)), max_img_h, max_img_h);

			}
			drawRetangle(zoneP1, zoneP2)

			var n_matches = Object.keys(data['matches']).length
			var i = 0
			for(const [idx, match] of Object.entries(data['matches'])){
				var txtW = ctx.measureText(match['gameCreation']).width
				var initial_height = 12+a+(i*(altura_usavel/n_matches))
				ctx.fillText(match['gameCreation'], l-txtW-2, initial_height)
				ctx.beginPath()
				ctx.moveTo(l, initial_height-6)
				ctx.strokeStyle = match['win'] ? '#0F05' : '#F005'
				var j = 1
				var crossPath = false
				if(isInRetangle(l, initial_height-6)){
					crossPath = true
				}
				for(const [key, value] of Object.entries(stats['controls'])){
					var posY = getY(stats['controls'], key, match['playerStats']['stats'])
					ctx.lineTo((j*(w/tam))+(l-((l*j*2)/tam)), a+(posY*altura_usavel))
					if(isInRetangle((j*(w/tam))+(l-((l*j*2)/tam)), a+(posY*altura_usavel))){
						crossPath = true
					}
					j++
				}
				var index = used_champions.indexOf(match['playerStats']['championId'])
				ctx.lineTo(w-l,a+( altura_usavel*(index+1)/(used_champions.length+1)))
				if(isInRetangle(w-l,a+( altura_usavel*(index+1)/(used_champions.length+1)))){
					crossPath = true
				}
				if((crossPath)||(mouseX>l-txtW-2 && mouseX<l-txtW-2+txtW && mouseY>initial_height-12 && mouseY<initial_height)){//ctx.isPointInPath(mouseX,mouseY)){
					ctx.strokeStyle = match['win'] ? '#0F0F' : '#F00F'
				}
				ctx.stroke()

        		ctx.closePath()
				i++
			}
			//ctx.fillText('blueTeam',w-l+2,6+a+( altura_usavel/4))
			//ctx.fillText('redTeam',w-l+2,6+a+( altura_usavel*3/4))
			//console.log(stats,tam, txtArray)
		}
		display.addEventListener("mousemove", function(e){
			if(dados)
				init(dados)
			mouseX = e.offsetX
			mouseY = e.offsetY
			//console.log('m',mouseX, mouseY)
			if(mouse_down){
				zoneP2['x'] = e.offsetX
				zoneP2['y'] = e.offsetY
			}
		});
		display.addEventListener("mousedown", function(e){
			zoneP1['x'] = e.offsetX
			zoneP1['y'] = e.offsetY
			mouse_down = true;
		});
		display.addEventListener("mouseup", function(e){
			mouse_down = false
			if(dados)
				init(dados)
		});

		//loadDoc()
	</script>
</body>
</html>